.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tam yüksekliği kaplar */
  margin: 0;
  background-color: #f0f0f0; /* Arka plan rengini açık gri yapalım */
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Butonun arka plan rengi */
  border: none;
  border-radius: 12px; /* Kenarları yuvarlat */
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Hem yatay hem dikey ortalamak için */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
}

.modal h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
}

.image-container img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px; 
  transition: opacity 0.3s ease;
}

.image-container img.selected {
  opacity: 0.7; /* Seçilen fotoğraf hafifçe opak olur */
}

/* Her bir resmin boyutunu ayarla ve iki satır üç sütun oluştur */
.image-container img {
  flex: 1 1 calc(33.333% - 20px); /* %33 genişlik ve aralık sağlar */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #dc3545; /* Kapat butonunun arka plan rengi */
  border: none;
  border-radius: 8px; /* Kenarları yuvarlat */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c82333; /* Kapat butonunda hover efekti */
}
